@font-face {
    font-family: Myriad Pro;
    src: url(fonts/8143.otf);
}
body{
    margin:0;
}
.container{
    height: 2000px;
    background-color: #ffffff;
    position: relative;
}
.content{
    width: 960px;
    margin: 0px auto;
}
.head{
    width: 100%;
    height: 130px;
    background-color: #333333;
    
}
.head div{
    padding-top: 25px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.head h1{
    font-family:"Myriad Pro";
    display: inline;
    color: #eeeeee;
    font-size: 60px;
    font-weight: 200;
    margin-right: 190px;
}
.head a{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 2.625;
    text-decoration: none;
    margin-top: 25px;
}
.heading{
    height: 200px;
    border-bottom: 2px dotted #cccccc;
    padding-top: 65px;
}
.heading h2{
  font-size: 60px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0;
}
.heading h2 span{
    color: #00bff3;
}
.heading h3{
  font-size: 50px;
  font-family: "Myriad Pro";
  color: rgb(187, 187, 187);
  line-height: 0px;
}
.text{
    height: 180px;
    border-bottom: 2px dotted #cccccc;
}
.text p{
    font-size: 34px;
    color: #555555;
}
.text p span{
    font-weight: bold;
}
.block{
    height: 445px;
    border-bottom: 2px dotted #cccccc;
    padding-top: 40px;
}
.block div{
    display: inline-block;
    width: 280px;
    height: 350px;
    background-color: #00aeef;
    float: left;
    margin-left: 60px;
    box-shadow: 3px 3px 6px gray;
}
.block div:first-child{
    margin-left: 0;
}
.block div h4{
    width: 235px;
    margin: 0px auto;
    font-size: 40px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    margin-bottom: 27px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid white;
 
}
.block div p{
    width: 235px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
.block div button{
    display: block;
    width: 235px;
    height: 40px;
    margin: 20px auto;
    background-color: #0076a3;
    color: white;
}
.conteiner_text{
    
    border-bottom: 2px dotted #cccccc;
    position: relative;
    padding: 30px 0 30px 0;
}
.content_text{
    width: 485px;
    height: 385px;
    display: inline-block;
    border-right: 2px dotted #cccccc;
}
.content_text h4{
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(85, 85, 85);
  line-height: 0;
}
.content_text div:nth-child(even){
    width: 84px;
    height: 84px;
    background-color: gray;
    border: none;
    display: block;
    margin-bottom: 30px;
}
.desing1{
    position: absolute;
    left: 130px;
    top: 80px;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(85, 85, 85);
    text-align: left;
}
.desing2{
    position: absolute;
    left: 130px;
    top: 195px;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(85, 85, 85);
    text-align: left;
}
.desing3{
    position: absolute;
    left: 130px;
    top: 310px;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(85, 85, 85);
    text-align: left;
}
h5{
    display: inline;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(85, 85, 85);
    font-weight: bold;
    padding-bottom: 0px;
}
a{
    line-height: 3px;
    text-decoration: none;
    color: #00aeef;
}
.content_image{
    width: 485px;
    height: 385px;
    position: absolute;
    left: 525px;
    top: 20px;
}
.content_image h4:first-child{
    font-size: 24px;
    color: rgb(85, 85, 85);
    height: 10px;
  
}
.content_image h4:nth-child(2){
    height: 0px;
    font-size: 24px;
    color: rgb(146, 146, 146);
}
.content_image p{
    font-size: 14px;
    font-family: "Arial";
    color: rgb(85, 85, 85);
    margin: 0px;
}
.head a:hover{
    color: dodgerblue;
}